*{
    margin: 0;
}
body{
    background-color: black;
}
/* Age verification page */
#no-Box{
    display: none;
    position: fixed;
    top: 35vh;
    background-color: blueviolet;
    text-align: center;
    width: 60vw;
    height: 25vh;
    margin-left: 20vw;
    margin-right: 20vw;
    font-size: 2vh;
}
#question-Box{
    display: block;
    position: fixed;
    top: 35vh;
    background-color: blueviolet;
    text-align: center;
    width: 60vw;
    height: 25vh;
    margin-left: 20vw;
    margin-right: 20vw;
    font-size: 2vh;

}
#question-Buttons{
    display: flex;
    justify-content: space-around;
    padding-top: 5vh;
}
#question-Buttons button{
    
    font-size: 2vh;
    width: 10vw;
    height: 5vh;
}
/* Age verification page - END */

/* *****************Home page**************** */


/*  Navigation  */

.logo-Home img{
  width: 45px;
  
  margin-right: 3vw;
  
}
.logo-Home :hover{
  
  animation: glow-flicker-Boxesnimg 1.5s linear both;
 
}

nav{    
  font-size: 2.4vh;
  background-color: rgba(146, 62, 224, 0.37);
  padding-top: 0.1vh;
  padding-bottom: 0.1vh;
  
}
#links-Box{
  display: flex;
  justify-content: space-around;
  align-items: center;

}
.links{
  text-decoration: none;
  color: white;
}


.links:hover{
  animation: glow-flicker-Txt 1.5s linear both;
}
/*  Navigation - END */  

/* Body */
.main-Box{ 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("./images/po.png");
  background-size: contain;
  background-repeat: repeat;
  
}

#hero-Box img{
  filter: drop-shadow( 0px 25px 35px #000000);
  width: 99vw;
  max-width: 100%;
  height: auto;
}

#content-Box{
  height: auto;
  color: white;  
  text-align: center;  
  margin-top: 10vh;
  width: 70%
}
#content-Box p{
  margin-top: 2vh;
}
#content-Box h1{
  color: purple;
  text-shadow:  0 0 10px #fff,0 0 20px purple, 0 0 250px #e60073;
}
.event-Box{
  width: 100%;  
  margin-top: 15vh;
}
.article-Box{
  width: 100%;
  height: auto;
  position: relative;
}
.content-Image-Article-Box{
  position: absolute;
  width: 400px;
  height: 250px;
  background-color: #e60073;
  top: 5.5vh;
  left: 2vw;
}
.content-Text-Article-Box{
  position: absolute;
  right: 2vw;
  top: 5.5vh;
  width: 400px;
  height: 250px;
  background-color: aqua;
}

#instagram-Iframe{
  flex-direction: row;
  justify-content: center;
  display: flex;
}
/* Body - END */


/* Footer */
footer{
  position: relative;
  /* background-color: #1e1d1d; */
  
  
}
footer img{
  position: absolute;
  width: 100%;
  /* filter: invert(9%) sepia(31%) saturate(0%) hue-rotate(236deg) brightness(90%) contrast(93%); */
  
  top: -50px;
  
}
#footer-Img{
  filter: invert(4%) sepia(28%) saturate(113%) hue-rotate(314deg) brightness(93%) contrast(84%) drop-shadow( 0px -5px 0px #191919);
  
}
/* Footer - END*/


  
/* ****************Home page - END************** */

/* Animations */

@keyframes glow-flicker-Txt {
    
    0% {
      
      text-shadow: 0 0 10px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073;
      
    }
    20.6% {
     
      text-shadow: none;
    }
    30% {
      
      text-shadow: none;
    }
    30.1% {
      
      text-shadow: 0 0 10px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073;
    }
    30.5% {
      
      text-shadow: 0 0 10px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073;
    }
    30.6% {
      
      text-shadow: none;
    }
    45% {
      
      text-shadow: none;
    }
    45.1% {
      
      text-shadow: 0 0 10px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073;
    }
    50% {
      
      text-shadow: 0 0 10px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073;
    }
    55% {
      
      text-shadow: 0 0 10px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073;
    }
    55.1% {
      
      text-shadow: none;
    }
    57% {
      
      text-shadow: none;
    }
    57.1% {
      
      text-shadow: 0 0 10px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073;
    }
    60% {
      
      text-shadow: 0 0 10px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073;
    }
    60.1% {
      
      text-shadow: none;
    }
    65% {
      
      text-shadow: none;
    }
    65.1% {
      
      text-shadow: 0 0 10px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073;
    }
    75% {
      
      text-shadow: 0 0 10px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073;
    }
    75.1% {
      
      text-shadow: none;
    }
    77% {
      
      text-shadow: none;
    }
    77.1% {
      
      text-shadow: 0 0 10px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073;
    }
    85% {
      
      text-shadow: 0 0 10px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073;
    }
    85.1% {
      
      text-shadow: none;
    }
    86% {
      
      text-shadow: none;
    }
    86.1% {
      
      text-shadow: 0 0 10px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073;
    }
    100% {
      
      text-shadow: 0 0 10px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073;
    }
  }
 
  @keyframes glow-flicker-Boxesnimg{
    
    0% {
      
      
      filter: drop-shadow(0 0 10px #e60073);
    }
    20.6% {
      filter: none;
      
    }
    30% {
      filter: none;
      
    }
    30.1% {
      filter: drop-shadow(0 0 10px #e60073);
      
    }
    30.5% {
      filter: drop-shadow(0 0 10px #e60073);
     
    }
    30.6% {
      filter: none;
     
    }
    45% {
      filter: none;
      
    }
    45.1% {
      filter: drop-shadow(0 0 10px #e60073);
      
    }
    50% {
      filter: drop-shadow(0 0 10px #e60073);
      
    }
    55% {
      filter: drop-shadow(0 0 10px #e60073);
      
    }
    55.1% {
      filter: none;
      
    }
    57% {
      filter: none;
      
    }
    57.1% {
      filter: drop-shadow(0 0 10px #e60073);
      
    }
    60% {
      filter: drop-shadow(0 0 10px #e60073);
      
    }
    60.1% {
      filter: none;
      
    }
    65% {
      filter: none;
      
    }
    65.1% {
      filter: drop-shadow(0 0 10px #e60073);
      
    }
    75% {
      filter: drop-shadow(0 0 10px #e60073);
      
    }
    75.1% {
      filter: none;
      
    }
    77% {
      filter: none;
      
    }
    77.1% {
      filter: drop-shadow(0 0 10px #e60073);
      
    }
    85% {
      filter: drop-shadow(0 0 10px #e60073);
      
    }
    85.1% {
      filter: none;
      
    }
    86% {
      filter: none;
      
    }
    86.1% {
      filter: drop-shadow(0 0 10px #e60073);
      
    }
    100% {
      filter: drop-shadow(0 0 10px #e60073);
     
    }
  }
/* Animations - END*/