*{
    margin: 0;
}
body{
    background-color: black;
}
/* Age verification page */
#no-Box{
    display: none;
    position: fixed;
    top: 35vh;
    background-color: blueviolet;
    text-align: center;
    width: 60vw;
    height: 25vh;
    margin-left: 20vw;
    margin-right: 20vw;
    font-size: 2vh;
}
#question-Box{
    display: block;
    position: fixed;
    top: 35vh;
    background-color: blueviolet;
    text-align: center;
    width: 60vw;
    height: 25vh;
    margin-left: 20vw;
    margin-right: 20vw;
    font-size: 2vh;

}
#question-Buttons{
    display: flex;
    justify-content: space-around;
    padding-top: 5vh;
}
#question-Buttons button{
    
    font-size: 2vh;
    width: 10vw;
    height: 5vh;
}
/* Age verification page - END */

/* *****************Home page**************** */


/*  Navigation  */
nav{    
    font-size: 3vh;
    background-color: blueviolet;
    padding-top: 1.5vh;
    padding-bottom: 1.5vh;    
    display: flex;
    justify-content: space-between;    
}
#links-Box a{
    text-decoration: none;
    color: white;
    margin-right: 10vw;        
}
#links-Box a:hover{
    animation: glow-flicker 2s linear both; /*1s ease-in-out infinite alternate*/
}

#links-Box{
    display: flex;
    align-items: center;
    
}
#home-Box{    
    display: flex;
    width: 2.5vw;
    height: 4.5vh;
    margin-left: 3vw;
    border-radius: 10%;
}
#home-Box a:hover{
    animation: glow2 2s ease-in-out infinite alternate;
    
}
/*  Navigation - END */  
  
/* ****************Home page - END************** */

/* Animations */
@keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
}
@keyframes glow2 {
    from{
        background-color: #e60073a8;
        box-shadow:  0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073;
    }
}
@keyframes glow-flicker {
    0% {
      opacity: 0;
    }
    10% {
      opacity: 0;
      text-shadow: none;
    }
    10.1% {
      opacity: 1;
      text-shadow: none;
    }
    10.2% {
      opacity: 0;
      text-shadow: none;
    }
    20% {
      opacity: 0;
      text-shadow: none;
    }
    20.1% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(209, 3, 140, 0.25);
    }
    20.6% {
      opacity: 0;
      text-shadow: none;
    }
    30% {
      opacity: 0;
      text-shadow: none;
    }
    30.1% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(209, 3, 140, 0.45), 0 0 60px rgba(209, 3, 140, 0.25);
    }
    30.5% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(209, 3, 140, 0.45), 0 0 60px rgba(209, 3, 140, 0.25);
    }
    30.6% {
      opacity: 0;
      text-shadow: none;
    }
    45% {
      opacity: 0;
      text-shadow: none;
    }
    45.1% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(209, 3, 140, 0.45), 0 0 60px rgba(209, 3, 140, 0.25);
    }
    50% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(209, 3, 140, 0.45), 0 0 60px rgba(209, 3, 140, 0.25);
    }
    55% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(209, 3, 140, 0.45), 0 0 60px rgba(209, 3, 140, 0.25);
    }
    55.1% {
      opacity: 0;
      text-shadow: none;
    }
    57% {
      opacity: 0;
      text-shadow: none;
    }
    57.1% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(209, 3, 140, 0.55), 0 0 60px rgba(209, 3, 140, 0.35);
    }
    60% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(209, 3, 140, 0.55), 0 0 60px rgba(209, 3, 140, 0.35);
    }
    60.1% {
      opacity: 0;
      text-shadow: none;
    }
    65% {
      opacity: 0;
      text-shadow: none;
    }
    65.1% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(209, 3, 140, 0.55), 0 0 60px rgba(209, 3, 140, 0.35), 0 0 100px rgba(209, 3, 140, 0.1);
    }
    75% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(209, 3, 140, 0.55), 0 0 60px rgba(209, 3, 140, 0.35), 0 0 100px rgba(209, 3, 140, 0.1);
    }
    75.1% {
      opacity: 0;
      text-shadow: none;
    }
    77% {
      opacity: 0;
      text-shadow: none;
    }
    77.1% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(209, 3, 140, 0.55), 0 0 60px rgba(209, 3, 140, 0.4), 0 0 110px rgba(209, 3, 140, 0.2), 0 0 100px rgba(209, 3, 140, 0.1);
    }
    85% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(209, 3, 140, 0.55), 0 0 60px rgba(209, 3, 140, 0.4), 0 0 110px rgba(209, 3, 140, 0.2), 0 0 100px rgba(209, 3, 140, 0.1);
    }
    85.1% {
      opacity: 0;
      text-shadow: none;
    }
    86% {
      opacity: 0;
      text-shadow: none;
    }
    86.1% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(209, 3, 140, 0.6), 0 0 60px rgba(209, 3, 140, 0.45), 0 0 110px rgba(209, 3, 140, 0.25), 0 0 100px rgba(209, 3, 140, 0.1);
    }
    100% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(209, 3, 140, 0.6), 0 0 60px rgba(209, 3, 140, 0.45), 0 0 110px rgba(209, 3, 140, 0.25), 0 0 100px rgba(209, 3, 140, 0.1);
    }
  }
/* Animations - END*/